    .top {
        border: 3px solid #fff;
    }

    .banner img {
        float: left;
        width: auto;
        height: 115px;
    }

    .banner_text {
        padding: 15px;
        width: auto;
        height: 95px;
        float: right;
        font-size: 65px;
        font-weight: bolder;
        padding: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        background-color: rgb(225, 225, 225);
    }

    .middle {
        background-color: rgb(247, 99, 0);
        margin-top: 115px;
        padding: 15px;
        text-align: center;
        color: #fff;
    }
    .btn {
        text-align: center;
        margin: 10px;
    }

    .dis_txt{
        font-weight: bolder;
    }

    #DisclaimeBtn {
        color: #ff0000;
        font-size: large;
    }


    .select select,
    .program-select select,
    #credit-price {
        width: 100%;
        height: 40px;
        text-align: center;
    }

    #credit-price-container,
    .program-select,
    #subject-select-container,
    #calculate-price-container,
    #total-price-container {
        margin-top: 20px;
        text-align: center;
    }

    .select h4,
    .program-select h4,
    #credit-price-container h4,
    #subject-select-container h4,
    #total-price-container h4 {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }

    #total-price-container {
        text-align: center;
        margin-top: 20px;
        background-color: #f0f0f0; /* Background color for the square */
        padding: 20px; /* Padding for the square */
        border: 2px solid #000; /* Border for the square */
        border-radius: 10px; /* Rounded corners for the square */
    }

    #total-price,
    #total-degree-price {
        font-size: 30px; /* Adjust the font size as needed */
        font-weight: bold;
        margin: 10px 0; /* Margin for spacing between elements */
    }

    /*nav styles*/
    

    @media screen and (max-width: 600px) {
        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .banner {
            text-align: center;
        }
    
        .banner img {
            width: 100%; /* Make the image take up the full width */
            height: auto; /* Preserve the aspect ratio */
        }
    
        .banner_text {
            font-size: 38px; /* Adjust font size for mobile */
            text-align: center;
            margin-top: 10px;
            padding: 10px;
        }
    
        .middle {
            margin-top: 10px; /* Adjust the margin for spacing */
        }
       
    }

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
    
    .header {
        top: 0;
        left: 0;
        width: auto;
        padding: 1.3rem 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: -1;
    }

    .header::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90dge, transparent, rgba(255,255,255,.4), transparent );
        transition: .5s;
    }

    .header:hover::after {
        left: 100%;
    }

    

    .navbar {
        background-color: black;
        width: 160%;
        
    }
    
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 20px 120px;
        text-decoration: none;
        
    }
    
    .navbar a:hover {
        background-color: #333;
    }
    
    .navbar::after {
        content: "";
        clear: both;
        display: table;
    }

    

    .icons{
        position: absolute;
        right: 5%;
        font-size: 2.8rem;
        color:#ff0000;
        cursor: pointer;
        display: none;
    }
     body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    padding: 10px;
    background-color: #e0dcdc;
    text-align: center;
    margin: 10px;
}

.section h2 {
    color: #333;
}

.section p {
    color: #666;
    font-size: 1.1em;
}


     .content {
    padding: 20px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    
    .gallery a {
        position: relative;
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }
    
    .gallery a:hover {
        transform: scale(1.05);
    }
    
    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .gallery a:hover .overlay {
        opacity: 1;
    }

    .g2 {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    
    .g2 a {
        position: relative;
        margin: 10px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        width: calc(33.33% - 20px); /* 3 items per row */
    }
    
    .g2 a:hover {
        transform: scale(1.05);
    }
    
    .g2 img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        display: block;
    }
    .o2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .g2 a:hover .o2 {
        opacity: 1;
    }
    
    
    
    @media screen and (max-width: 600px) {
        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .banner {
            text-align: center;
        }
    
        .banner img {
            width: 100%;
            height: auto;
        }
    
        .banner_text {
            font-size: 38px;
            text-align: center;
            margin-top: 10px;
            padding: 10px;
        }
    
        .middle {
            margin-top: 10px;
        }
    
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1.3rem 0;
            background-color: #f0f0f0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 100;
        }
    
       
    
        .navbar a {
            float: none;
            display: block;
            width: 100%;
            text-align: center;
        }

        .gallery a {
            flex: 0 0 calc(50% - 20px);
        }
    
        .icons {
            position: absolute;
            right: 5%;
            top: 15px;
            font-size: 2.8rem;
            color: #ff0000;
            cursor: pointer;
            display: inline-flex;
        }
        .section {
        padding: 20px;
    }
    
    .section h2 {
        font-size: 1.5em;
    }

    .section p {
        font-size: 1em;
    }

    
        #check:checked ~ .navbar {
            display: flex;
        }
    
        #check:checked ~ .icons #menu-icon {
            display: none;
        }
    
        #check:checked ~ .icons #close-icon {
            display: block;
        }
    
        #check:not(:checked) + .header {
            display: none;
        }
    
        #check:checked + .header {
            display: flex;
        }
    }