/* Styling for the top section */
.top {
    border: 3px solid #fff;
}

.banner {
    padding-left: 5%;
    padding-right: 5%;
}

/* Styling for the banner image */
.banner img {
    float: left;
    width: auto;
    height: 115px;
}

/* Styling for the banner text */
.banner_text {
    padding: 15px;
    width: auto;
    height: 95px;
    float: right;
    font-size: 65px;
    font-weight: bolder;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

/* Styling for the middle section */
.middle {
    background-color: rgb(247, 99, 0);
    margin-top: 115px;
    padding: 15px;
    text-align: center;
    color: #fff;
}

/* Button styling */
.btn {
    text-align: center;
    margin: 10px;
}

/* Styling for text with increased font weight */
.dis_txt {
    font-weight: bolder;
}

/* Styling for a specific button with a color and font size */
#DisclaimeBtn {
    color: #ff0000;
    font-size: large;
}

/* Styling for various select elements */
.select select,
.program-select select,
#credit-price {
    width: 100%;
    height: 40px;
    text-align: center;
}

/* Styling for containers related to credit price, subjects, and total price */
#credit-price-container,
.program-select,
#subject-select-container,
#calculate-price-container,
#total-price-container {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* Styling for headings within select containers */
.select h4,
.program-select h4,
#credit-price-container h4,
#subject-select-container h4,
#total-price-container h4 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

/* Styling for the total price container with background color and border */
#total-price-container {
    text-align: center;
    margin-top: 20px;
    background-color: #f0f0f0; /* Background color for the square */
    padding: 20px; /* Padding for the square */
    border: 2px solid #000; /* Border for the square */
    border-radius: 10px; /* Rounded corners for the square */
}

/* Styling for total price and total degree price */
#total-price,
#total-degree-price {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold;
    margin: 10px 0; /* Margin for spacing between elements */
}

/* Styling for the header section */
.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


/* Styling for the navbar with background color and full width */
.navbar {
    background-color: rgb(237, 124, 49);
    width: 100%; /* Set the width to 100% */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    text-align: center; /* Align the content to the right */
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Styling for navbar links */
.navbar a {
    display: inline-block; /* Display links as inline-block to make them align horizontally */
    color: white;
    text-align: center;
    padding: 20px 5%;
    text-decoration: none;
}

/* Styling for navbar links on hover */
.navbar a:hover {
    background-color: #333;
}

/* Clearfix for the navbar */
.navbar::after {
    content: "";
    clear: both;
    display: table;
}

/* Styling for the content section with padding */
.content {
    padding: 20px;
}

/* Styling for the gallery section with flex layout and padding */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
    
}

/* Styling for each gallery item with position, flex, margin, and transition */
.gallery a {
    position: relative;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

/* Styling for gallery items on hover with scale transformation */
.gallery a:hover {
    transform: scale(1.05);
}

/* Styling for gallery images with full width and border radius */
.gallery img {
    width: 100%;
    
    height: 100%;
    border-radius: 8px;
}

/* Styling for the overlay text in the gallery */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Styling for the overlay text on hover */
.gallery a:hover .overlay {
    opacity: 1;
}
/* Styling for sections*/
.section {
    padding: 10px;
    background-color: #000000;
    text-align: center;
    margin-top: 5px;
}

.section h2 {
    font-size: 30px;
    color: #fffdfd;
}

.section p {
    color: #c2c2c2;
    font-size: 20px;
}
 /* recent posts */

 /* Your existing styles go here */

.vertical-articles {
    justify-content: flex-end;
    width:25%; /* Adjust the width as needed */
    margin: 20px;
    float :left;
}

.vertical-articles h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.article {
    display:flex; /* Use flexbox for layout */
    border: 1px solid #c4c4c4; /* Border for the box */
    border-radius: 8px; /* Rounded corners */
    padding: 1px; /* Padding inside the box */
    margin-bottom: 10px;
    
    
}


.article img {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    border-radius: 8px;
    margin-right: 10px; /* Add some spacing between image and content */
    transition: transform 0.3s;
}

.article-content {
    flex-grow: 1; /* Allow content to grow and take available space */
}

.article h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.article p {
    font-size: 30px;
    color: #353434;
}
/*Upcoming events gallery*/
.upcoming-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 300px;
    padding: 20px;
}

.upcoming-gallery img {
    width: 200%;
    height: auto;
    max-width: 200%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.upcoming-gallery img:hover {
    transform: scale(1.1);
}
.upcoming-gallery a {
    display: block;
    text-decoration: none;
    color: inherit;
}
 
.figcaption {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #555;
}

/*----------------------About us page styles------------------*/
#aboutus-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#aboutus-paragraph {
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    line-height: 150%;
}

#aboutus-team-img {
    margin-bottom: 10%;
}

#aboutus-paragraph span{
    font-family: "Chakra Petch", sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 99, 0); 
}

#aboutus-paragraph p{
    margin-bottom: 4%;
}

#about-us-logo {
    margin: 0 auto;
    display: block;
}

#slogan {
    width: 100%;
    display: flex;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#sloganParagraph {
    font-family: "Silkscreen", sans-serif;
    animation: fadeIn 15s ease forwards;
}

.heading_font {
    font-family: "Bungee", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 50px;
    color:rgb(247, 99, 0);
    text-shadow: 5px 5px 0px orange;
    margin: 0;
}

#aboutus_para {
    text-align: center;
    font-family: 'Snell Roundhand', cursive;
}

#team-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 34%);
    row-gap: 10%;
    margin-bottom: 7%;
}

.member {
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(51, 49, 49);
    box-shadow: 0px 4px 8px black;
}

.mem_pp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.mem_name {
    font-family: monospace;
    color: white;
    font-size: 20px;
    padding-bottom: 0px;
    line-height: 0%;
}

.mem_title {
    font-family: monospace;
    color: gray;
    font-size: 15px;
    margin-top: -2%;
}

.mem_socials {
    justify-content: start;
    display: flex;
}

.mem_soc_rec {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    margin: 1% 6% 0% 0%;
    
}

.fb_logo {
    content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJUfZ3ptRihADxxse64onZAIyihhkmbNl-KgxgGaVay4A-fkDVnQlDeUlyZ3f593IQ5wo&usqp=CAU');
}

.insta_logo {
    content: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYRaC0q2xUf-0r-0x-kLULtFtYa3sMyv50AuNoPjrx2EL_pIZSohDsp-1TU8IEYx0vrCU2w6ePKYLw_mhtD3ySjXJPEKQw=s1600');
}

.lkin_logo {
    content: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYRs88g81zuc3ZVVYnA4JMUIpECPQRW5m12s4t564oFOrO5ReuXw0p6TRosKaG-crkqdxhMP2IiERVXE78hAW3TDWt55DQ=s2560');
}


.twt_logo {
    content: url('https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=626&ext=jpg&ga=GA1.1.1862338985.1707062131&semt=ais');
}

.gthb_logo {
    content: url('https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png');
}

#footer_para {
    text-align: center;
}


#whatsappButton {
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYT35QQZz7ogvLBoYRr4Akj29AicxjeLzFpGXd75eT-DF9hi5MPP_7Xl2huNdkIYUuNhMASvM5xo-P2d0HfRJmWgOujb-w=s2560');
    width: 65px;
    height: 65px;
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 999;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 8px black;
}

#linkedInButton {
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYRs88g81zuc3ZVVYnA4JMUIpECPQRW5m12s4t564oFOrO5ReuXw0p6TRosKaG-crkqdxhMP2IiERVXE78hAW3TDWt55DQ=s2560');
    width: 65px;
    height: 65px;
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 11%;
    right: 1%;
    z-index: 999;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 8px black;
}

#logoLetters {
    text-align: center;
}

.logoLetter {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 64px;
    opacity: 0;
    animation: fadeIn 5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-------------------------------- End of About us page styles  ----------------------------------------*/

button {
    cursor:pointer;
}

/*----------------------Article page styles------------------*/  

.course-button{
    font-size: 15px;
}

.faq_qu{
    font-size: 18px;
    color: brown;
}
.faq_answer{
    font-size: 17px;
}

.foedu_qu{
    color: rgb(76, 76, 228);
    font-size: 18px;
}

.foedu_answer{
    color: #000;
    font-size: 17px;
}

/* Styles for the article faculty section */
.article_menu {
    background-color: #f8f4f4;
    padding: 40px 20px;
    text-align: center;
  }
  
  .faculty_title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
  
  .faculty_container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }
  
  .faculty_section {
    width: 15%;
    height: 300px;
    margin: 20px 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .faculty_section:hover {
    transform: translateY(-5px);
  }
  
  .faculty_section>h3{
    font-size: 25px;
    
  }
  
  .faculty_section,a{
    text-decoration: none;
    color: black; 
  }
  
  .faculty_bg {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  
  