/* Styling for the top section */
.top {
    border: 3px solid #fff;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Full viewport height */
}

.banner {
    padding-left: 5%;
    padding-right: 5%;
}

/* Styling for the banner image */
.banner img {
    float: left;
    width: auto;
    height: 115px;
}

/* Styling for the banner text */
.banner_text {
    padding: 15px;
    width: auto;
    height: 95px;
    float: right;
    font-size: 65px;
    font-weight: bolder;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

/* Styling for the middle section */
.middle {
    background-color: rgb(247, 99, 0);
    margin-top: 115px;
    padding: 15px;
    text-align: center;
    color: #fff;
}


/*----------------------Explore Our Facilities Section Start------------------*/

#about-faculty {
    max-width: 100%;
    margin-block: 40px;
}

.about-faculty-container {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
    margin-block: 40px;
}

#about_faculty h2 {
    width: 100%;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#faculty_about_left {
    border-right: 3px solid #e77a20;
    flex: 1;
    width: 100%;
    padding-inline-end: 30px;
}

#faculty_about_left ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
    list-style: none;
    padding-inline-start: 0px;
}

#faculty_about_left ul li {
    height: 120px;
    background: #e06f2d;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

#faculty_about_left ul li a {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

#faculty_about_left ul li:hover {
    background-color: #e06f2dde;
    transform: scale(1.03);
}

#faculty_about_left ul li a:hover {
    transform: scale(1.03);
}

#faculty_about_right {
    flex: 1;
}

#faculty_about_right img {
    max-width: 75%;
    height: auto;
}

#faculty_about_right p {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    margin-block: 20px;
}

.faculty_about_right_read_more {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 300ms ease-in-out;
}

.faculty_about_right_read_more a {
    color: #d48439;
}


.faculty_about_right_read_more :hover {
    color: #fd7200;
}

/* responsive styles for explore our facilities section start */
@media screen and (max-width:1200px) {
    .about-faculty-container {
        flex-direction: column;
    }

    #faculty_about_left ul {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    #faculty_about_left {
        border-bottom: 3px solid #e77a20;
        padding-bottom: 30px;
        border-right: none;
        padding-inline-end: 0px;
    }

    #faculty_about_left ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width:639px) {
    #faculty_about_left ul li {
        height: 100px;
    }
}

/* responsive styles for explore our facilities section end */


/*----------------------Explore Our Facilities Section End------------------*/



/*----------------------Home News  Section Start------------------*/

.home_news {
    padding-inline: 0;
}

#home_news {
    width: 100%;
    height: auto;
    margin-block: 30px;
}

#home_news h2 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 35px;

}

#home_news h5 {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #d48439;
    padding-left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#home_news_inner ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    list-style: none;
    gap: 24px;
    padding-inline-start: 0px;
}

#home_news_inner ul li {
    width: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
    margin-inline: auto;

}

.home_news_inner_img {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3 / 2;
    border-radius: 15px;
}

.home_news_inner_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.home_news_inner_text {
    width: 90%;
    position: absolute;
    top: 0;
    margin: 0 5%;
    padding: 25px 0;
    z-index: 399;
}

.home_news_inner_text h3 {
    margin-top: 275px;
    font-size: 24px;
    color: #FFF;
    font-weight: 900;
    letter-spacing: 2px;
}

.home_news_inner_text big {
    display: block;
    width: 50%;
    margin: 5px auto;
    background: #e46c1d;
    border-radius: 0 0 15px 15px;
    font-size: 14px;
    color: #FFF;
    font-weight: 600;
    text-align: center;
}

.home_news_more_link h5 {
    margin-block: 30px;
}

@media screen and (max-width:927px) {
    #home_news_inner ul {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 16px;
    }

    .home_news_inner_img {
        border-radius: 8px;
    }
}

/*----------------------Home News  Section End------------------*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.banner_text {
    box-sizing: content-box;
}

#home_brand_slider {
    display: block;
    justify-content: center;
    overflow: hidden;
    padding: 10px 0;
}

.photo-square {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    white-space: nowrap;
    animation: scrollAnimation var(--animation-speed, 10s) linear infinite;
}

.photo-container {
    display: flex;
    gap: 15px;
}

.photo-container img {
    width: var(--photo-size, 15%);
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 10s ease-in-out;
}

.photo-container img:hover {
    transform: scale(1.1);
}

section {
    min-height: 70px;
    background-color: #fff;
    overflow: visible !important;
}


@keyframes scrollAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 22px;
    }

    .photo-container img {
        width: 50px;
    }
}