/* Footer Styles */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-column p {
    margin: 5px 0;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    background-color: #222;
    margin-bottom: 5px;
}

.footer-bottom p {
    margin: 0;
}
