/* Footer Styles */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    align-items: center;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.footer_quick_links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.footer_quick_links ul li a {
    color: white;
}

.footer-bottom {
    text-align: center;
    padding-block: 20px;
    background-color: #222;
}

.footer-bottom p {
    margin: 0;
}

@media screen and (max-width:768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 20px;
        gap: 40px;
    }
}