/* StylePost.css */

.photo-square {
    max-width: 80%; /* Adjust the size of the square */
    height: 1300px; /* Adjust the size of the square */
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Position relative for absolute positioning of images */
    margin: auto; /* Center the square horizontally */
    padding-top: 1%;
}

.photo-container {
    display: flex; /* Arrange images in a row */
    position: absolute; /* Position absolutely inside the square */
    left: 50%; /* Move the container 50% from the left edge */
    transform: translateX(-50%); /* Center the container horizontally */
    animation: movePhotos var(--animation-speed) linear infinite forwards;
    width: calc(100% + var(--photo-size)); /* Add container width */
}

.photo-container img {
    width: var(--photo-size); /* Set customizable photo size */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s ease; /* Add transition effect */
    margin-right: 10px; /* Add space between photos */
}

.photo-container img:last-child {
    margin-right: 0; /* Remove margin from the last photo */
}

.photo-container img:hover {
    transform: scale(1.1); /* Scale up on hover */
}


@keyframes movePhotos {
    0% {
        transform: translateX(calc(var(--photo-size) * -1)); /* Start off-screen to the right */
    }
    0% {
        transform: translateX(-100%); /* End position outside the container */
    }
}


