/* StylePost.css */

#home_brand_slider {
    width: 100%;
    overflow: hidden;
    margin-block: 100px;
    position: relative;
}

.brand-container {
    display: flex;
    gap: 40px;
    animation: autoRun 20s linear infinite;
    width: max-content;
}

.brand_photo {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
}

.brand_photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.brand_photo img:hover {
    transform: scale(1.1);
}

@keyframes autoRun {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50% - 20px));
    }
}

/*Responsive media queries for brand slider*/

@media (max-width:768px) {
    .brand_photo img {
        width: 100%;
        height: 40px;

    }

    .brand-container {
        gap: 20px;
    }
}